.x-axis-label {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
  }
  
  .y-axis-label {
    position: absolute;
    top: 50%;
    left: 2.5rem;
    justify-content: center;
    text-align: center;
    display: flex;
    font-weight: bold;
    transform: translateY(-50%) rotate(-90deg);
  }
  