.navbar {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px rgba(0, 0, 0, 0.5);
    background-color: #001226;
    padding: 0 2rem 0 2rem !important;
}

.navbar_logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar_logo p {
    color: #35b4ff;
    font-size: 18px;
    font-weight: 600;
}

.navbar_menu {
    display: flex;
    gap: 50px;
    list-style-type: none;
    align-items: center;
}

.navbar_menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
    color: #ffffff;
}

.navbar_menu hr {
    border: none;
    width: 80%;
    background: #eab541;
    height: 3px;
    border-radius: 10px;
    opacity: 1;
}

.navbar_login_cart {
    display: flex;
    gap: 45px;
    align-items: center;
}

.navbar_login_cart button {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    color: #001226;
    border: 1px solid #eab541;
    background: #eab541;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.navbar_login_cart button:active {
    background: #3769b2;
    color: #ffffff;
}

.navbar_cart_count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -36px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background-color: #eab541;
    color: #001226;
}

.searchInput {
    padding: 5px; /* Adjust padding to match the button */
    border-radius: 32px !important;
    border: 1px solid #35b4ff;
    background: #ffffff;
    cursor: pointer;
    height: auto; /* Allow height to adjust based on content */
    font-size: 16px; /* Match font size with the button */
}

.searchForm {
    display: flex;
    flex-direction: row!important;
    gap: 10px;
    padding: 20px;
    height: 3rem;
}

.searchButton {
    border: none;
    border-radius: 25px;
    background: #ffffff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.userAccount {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    color: #35b4ff;
}

.userAccount:hover {
    box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.5);
}

/* Styles for PC */
@media screen and (min-width: 768px) {
    .navbar {
        /* PC-specific styles */
    }
    .mobileDropdown {
        display: none;
    }
    ul li {
        color: #ffffff;
    }
}

/* Styles for smaller devices */
@media screen and (max-width: 767px) {
    .navbar {
        /* Smaller device-specific styles */
    }
    .greeting {
        display: none;
    }
    .mobileDropdown {
        display: flex;
        gap: 10px;
        position: absolute;
        margin-left: 50%;
        padding: 1rem;
    }
    .navbar_logo {
        margin-left: auto;
        margin-right: auto;
    }
    .searchForm {
        width: 100%;
    }
    .searchInput {
        width: 100%;
    }
    .navbar_search {
        width: 100%;
    }
    .navbar_login_cart {
        display: none;
    }
}
