/* Custom CSS to change carousel arrow color to red */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.397); /* Change arrow color to red */
}
.carousel-indicators [data-bs-target]{
    background-color: rgb(17, 17, 17); /* Change indicator color to red */
}
.cover{
    background-color: rgba(0, 0, 0, 0.666); /* Change cover color to red */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerCover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    background-color: rgba(0, 0, 0, 0.808);
    padding: 2rem;  
    border-radius: 20px;
}
#inputBarcodeBtn:active{
    transform: scale(0.9);
}
#pageCard{
    display: flex;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
}